<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Feed-Tragetta" value="https://pkgs.dev.azure.com/tragetta/br-ltl-TmsUnico/_packaging/Feed-DevOps/nuget/v3/index.json" protocolVersion="3" />
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Feed-Tragetta">
      <package pattern="Nexus.Framework.*" />
    </packageSource>
    <packageSource key="Nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
